:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  --color-text: #fdfbf8;
  --font-family: 'Inconsolata', monospace;
  --dark-grey: #2a2a2a;
}

body {
  font-family: var(--font-family);
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101; /* Ensure it's on top */
}

#loading-screen p {
  top: 50vh;
}

.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20px; /* Space between text and spinner */
    animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

.experience-canvas {
  width: 100%;
  height: 100%;
}

.warning-screen {
  position: fixed;
  color: #333;
  background: #ffffff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 25vh;
  padding: 20px;
  z-index: 1000;
  display: block;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.5)
}

.warning-exit-btn {
  position: absolute;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  color: white;
  right: 20px;
  top: 10px;
  width: 40px;
}

.contact-form button:hover {
  background-color: #555;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px 14px;
  z-index: 2;
}

.side-nav {
  color: var(--color-text);
  background-color: #2a2a2a;
  position: fixed;
  top: 40px;
  right: 30px;
  font-size: 20px;
  z-index: 2;
}

.side-nav ul {
  margin: 0;
  padding: 0;
}

.side-nav li {
  display: inline-block;
}

.side-nav li + li {
  margin-left: 10px;
}

.side-nav li a {
  padding: 10px 8px;
  color: var(--color-text);
  display: inline-block;
  text-decoration: none;
  position: relative;
}

.side-nav li:hover > a,
.side-nav li a:focus {
  opacity: 0.75;
}

.contact-menu {
  position: relative;
  margin-top: 24px;
}


.projects-dropdown {
  background-color: #2a2a2a;
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.side-nav li:hover .projects-dropdown{
  display: block;
}

.projects-dropdown a {
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.projects-dropdown a:hover {
  background-color: #2a2a2a;
  opacity: 0.75;
}

.contact-form {
  color: #333;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  position: absolute;
}

.contact-form form {
  box-sizing: border-box;
}

.contact-form input, .contact-form textarea {
  font-family: var(--font-family);
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.contact-form textarea {
  margin-bottom: 50px;
  height: 200px;
}

.contact-form button {
  position: absolute;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #333;
  border: 1px solid #ccc;
  cursor: pointer;
  color: white;
}

.contact-send-btn {
  bottom: 10px;
  right: 20px;
  width: 80px;
}

.contact-exit-btn {
  right: 20px;
  top: 10px;
  width: 40px;
}

.contact-form button:hover {
  background-color: #555;
}

footer {
  position: fixed;
  bottom: 5px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 12px;
}
